<section class="page-section mb-0" id="contact">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase">contact Me</h2>
    <!-- Title Icon -->
    <app-title></app-title>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form id="contactForm" class="mt-5"> 
          <div class="position-relative py-5">
            <input type="text" id="name" class="form-control" placeholder=" "
            required="required" />
            <label for="name">Name</label>
          </div>
          <div class="position-relative py-5">
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder=" "
              required="required"
            />
            <label for="email">E-mail</label>
          </div>
          <div class="position-relative py-5">
            <input type="tel" id="phone" class="form-control" placeholder=" " required="required" />
            <label for="phone">Phone-Number</label>
          </div>
          <div class="position-relative py-5 ">
            <textarea
              class="form-control"
              id="message"
              rows="10"
              placeholder=" "
              required="required"></textarea>
            <label for="message">Message</label>
          </div>
          <!-- <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input class="form-control" id="name" type="text" placeholder="Name" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input class="form-control" id="email" type="email" placeholder="Email Address" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Phone Number</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Message</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div> -->
          <br />

          <div class="form-group">
            <button
              class="btn btn-success"
              id="sendMessageButton"
              type="submit"
            >
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
