<footer class="footer text-center">
  <div class="container">
    <div class="row">
  
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          2215 John Daniel Drive
          <br />
          Clark, MO 65243
        </p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4 text-center">Around the Web</h4>
        <div
          class="footerIcons__container d-flex justify-content-center align-items-center mx-auto"
        >
          <div
            class="footer__icon p-4 rounded-circle me-2 d-flex justify-content-center align-items-center"
          >
            <a
              href="#"
              target="_blank"
              style="font-family: FontAwesome"
              class="text-reset text-decoration-none"
              ><i class="fa-brands fa-facebook-f fa-lg"></i
            ></a>
          </div>

          <div
            class="footer__icon p-4 rounded-circle me-2 d-flex justify-content-center align-items-center"
          >
            <a
              href="#"
              target="_blank"
              style="font-family: FontAwesome"
              class="text-reset text-decoration-none"
              ><i class="fa-brands fa-twitter fa-lg"></i
            ></a>
          </div>
          <div
            class="footer__icon p-4 rounded-circle me-2 d-flex justify-content-center align-items-center"
          >
            <a
              href="#"
              target="_blank"
              style="font-family: FontAwesome"
              class="text-reset text-decoration-none"
              ><i class="fa-brands fa-linkedin-in fa-lg"></i
            ></a>
          </div>
          <div
            class="footer__icon p-4 rounded-circle me-2 d-flex justify-content-center align-items-center"
          >
            <a
              href="#"
              target="_blank"
              style="font-family: FontAwesome"
              class="text-reset text-decoration-none"
              ><i class="fa-brands fa-dribbble fa-lg"></i
            ></a>
          </div>
        </div>
      </div>
 
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Route
        </p>
      </div>
    </div>
  </div>
</footer>
