.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.masthead .masthead-avatar {
    width: 15rem;
}

.masthead .masthead-heading{
    font-size: 2.75rem;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
    font-family: "Lato",sans-serif;
    font-weight: 400;
}

.masthead.bg-success{
    background-color: #1abc9c !important;
}