<header class="masthead bg-success text-white text-center" id="header">
    <div class="container">
        <img class="masthead-avatar mb-5" src="./assets/Images/avataaars.svg" alt="">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Start Angular</h1>
        <!-- Title Icon -->
        <app-title-light></app-title-light>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>
